.ShareIcons
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 9%;
  margin-top: 21px;
  .fa
    font-size: 20px;
    padding: 5px;
    color: white;
    &:hover
      color: #1ea075;
