.RightCollum
  margin-left 50%
  background #ffffff
  overflow-y auto
  &-content
    padding 5% 9%
    height 100vh
    width: 50%
    position absolute
    top 0px
    z-index 4

@media screen and (max-width: 1020px)
  .RightCollum
    margin-left 0
    &-content
      width 100%
      position relative
